<nav class=" navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
        <img class="me-3" src="assets/img/favicon.ico" alt="" height="50px">
        <a class="navbar-brand" href="#">Maker</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-capitalize" href="" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">navbar</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown08">
                        <li class="nav-item">
                            <a class="dropdown-item text-capitalize" routerLink="/navbar" routerLinkActive="active">navbar</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item text-capitalize" routerLink="/sidebar" routerLinkActive="active">sidebar</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-capitalize" href="" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">theme</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown08">

                        <li class="nav-item">
                            <a class="dropdown-item text-capitalize" routerLink="/pricing" routerLinkActive="active">pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item text-capitalize" routerLink="/product" routerLinkActive="active">product</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item text-capitalize" routerLink="/album" routerLinkActive="active">album</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item text-capitalize" routerLink="/blog" routerLinkActive="active">blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item text-capitalize" routerLink="/carousel" routerLinkActive="active">carousel</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item text-capitalize" routerLink="/check-out" routerLinkActive="active">check-out</a>
                        </li>

                        <li class="nav-item">
                            <a class="dropdown-item text-capitalize" routerLink="/dashboard" routerLinkActive="active">dashboard</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-capitalize" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">styles</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown08">
                        <li class="nav-item">
                            <a class="dropdown-item text-capitalize" routerLink="/heroes" routerLinkActive="active">heroes</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item text-capitalize" routerLink="/jumbotron" routerLinkActive="active">jumbotron</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item text-capitalize" routerLink="/starter" routerLinkActive="active">starter</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item text-capitalize" routerLink="/features" routerLinkActive="active">features</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item text-capitalize" routerLink="/sign-in" routerLinkActive="active">sign-in</a>
                        </li>

                    </ul>
                </li>



            </ul>
        </div>


    </div>
</nav>