<app-nav></app-nav>

<h3>
    Cart
</h3>

<div *ngFor="let item of items">
    <div class="  row ">
        <div class="col-12 col-md-4 cart-item mx-auto">
            <img class="" height="auto" width="auto" [src]="item.pics" alt="Phone Pics">
        </div>
        <div class="col-12 col-md-4 align-items-center d-flex flex-column  justify-content-center ">

            <div class=" my-auto">
                <span>{{ item.name }}</span>

                <p>{{item.description}}</p>
            </div>


        </div>
        <div class="col-12 col-md-4 align-items-center align-self-end">
            <div class="row">
                <div class="col-6 text-center">
                    <span class="">{{ item.price | currency }}</span>
                </div>
                <div class="col-6  ">
                    <div type="button" class=" w-50 rounded border-primary border text-center" (click)="delitem(item)">
                        <fa-icon class="" [icon]="trashcan"></fa-icon>
                        Delete item</div>
                </div>
            </div>
        </div>


    </div>
</div>