<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="scroll-to-top " [ngClass]="{'show-scrollTop': windowScrolled}">
    <button class="btn " (click)="scrollToTop()">
        <fa-icon [icon]="up" [classes]="['fa-lg ']"></fa-icon>
        <p class="m-0"> back to top</p>
    </button>
</div>

<router-outlet class="m-0 p-0"></router-outlet>