<body>


    <main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 fw-normal">Punny headline</h1>
                <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
                <a class="btn btn-outline-secondary disabled" href="#">Coming soon</a>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>





        <div *ngFor="let product of main; let i = index">
            <h3 class="ms-5 p-5 m-5 h1">{{i+1}} {{product.edition}}</h3>
            <div *ngFor="let product of product.product" class="m-5 d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 justify-content-center">

                <div class=" bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class=" my-3 py-3">
                        <h3>{{ product.name +'White' }}</h3>
                        <h4>{{ product.price | currency }}</h4>
                        <p class="">{{ product.description }}</p>
                    </div>
                    <div class="bg-light shadow-sm mx-auto position-relative" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">

                        <div *ngIf="product.id==(i+1)">
                            <img class="position-absolute top-50 start-50 translate-middle" height="auto" width="auto" [src]="product.pics" [alt]="" data-bs-toggle="modal" [attr.data-bs-target]="'#w'+i">

                            <div class="modal fade" [id]="'w'+i" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" [attr.aria-labelledby]="'w'+i" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered ">
                                    <div class="modal-content bg-light text-black">
                                        <div class="modal-header">
                                            <h3 class="modal-title" [id]="'w'+i">{{ product.name +'White'}}</h3>

                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body ">
                                            <h4>{{ product.price | currency }}</h4>

                                            <img class="" height="auto" width="auto" [src]="product.pics" [alt]="">
                                            <p class="">{{ product.description }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Buy</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h3>{{ product.name +'Black'}}</h3>
                        <h4>{{ product.price | currency }}</h4>
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="bg-dark shadow-sm mx-auto position-relative" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">

                        <div *ngIf="product.id==(i+1)">
                            <img class="position-absolute top-50 start-50 translate-middle" height="auto" width="auto" [src]="product.pics2" [alt]="" data-bs-toggle="modal" [attr.data-bs-target]="'#p'+i">

                            <div class="modal fade" [id]="'p'+i" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" [attr.aria-labelledby]="'p'+i" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered ">
                                    <div class="modal-content bg-dark text-white">
                                        <div class="modal-header">
                                            <h3 class="modal-title" [id]="'p'+i">{{ product.name +'Black'}}</h3>

                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body ">
                                            <h4>{{ product.price | currency }}</h4>

                                            <img class="" height="auto" width="auto" [src]="product.pics2" [alt]="">
                                            <p class="">{{ product.description }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Buy</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>

    <footer class="container ">
        <div class="row ms-5 gx-5  ms-md">

            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Cool stuff</a></li>
                    <li><a class="link-secondary" href="#">Random feature</a></li>
                    <li><a class="link-secondary" href="#">Team feature</a></li>
                    <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                    <li><a class="link-secondary" href="#">Another one</a></li>
                    <li><a class="link-secondary" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Resource name</a></li>
                    <li><a class="link-secondary" href="#">Resource</a></li>
                    <li><a class="link-secondary" href="#">Another resource</a></li>
                    <li><a class="link-secondary" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Business</a></li>
                    <li><a class="link-secondary" href="#">Education</a></li>
                    <li><a class="link-secondary" href="#">Government</a></li>
                    <li><a class="link-secondary" href="#">Gaming</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Team</a></li>
                    <li><a class="link-secondary" href="#">Locations</a></li>
                    <li><a class="link-secondary" href="#">Privacy</a></li>
                    <li><a class="link-secondary" href="#">Terms</a></li>
                </ul>
            </div>
        </div>

    </footer>
    <div class="text-center border-bottom border-primary">
        <p>
            <img class="mb-2" src="assets/img/favicon.ico" alt="" width="50" height="auto">
            <small class="ms-4 text-muted">&copy;2020–2022 </small></p>
    </div>




</body>