<body class="h-100 w-100 m-0 p-0" id="main" [ngStyle]="{backgroundImage:'url(assets/img/plain.jpg)'}">


    <div class="px-4 py-5  text-center">
        <img class="d-block mx-auto mb-4" src="assets/img/favicon.ico" alt="" height="100">
        <h1 class=" display-5 fw-bold">Welcome to Maker</h1>
        <div class="col-lg-5 mx-auto">
            <h4 class="lead mb-4">This is made by me(Clyde) for practice.
            </h4>
            <h3 class="text-primary">This is made using Angular
                <fa-icon [icon]="angular"></fa-icon>
                with Bootstrap
                <fa-icon [icon]="bootstrap"></fa-icon> and FontAwesome
                <fa-icon [icon]="font"></fa-icon>
            </h3>
            <h2 class="m-3 text-secondary">This is being hosted in Vercel</h2>
        </div>
        <div class="col-lg-4 mx-auto m-5">
            <h1 class="text-danger">Warning
                <fa-icon [icon]="warning" [classes]="['fa-beat-fade']" style="--fa-animation-duration: 2s"></fa-icon>
            </h1>
            <h3 class="text-danger">This project is still ongoing</h3>
        </div>
    </div>
</body>